
<mat-form-field  appearance="outline" color=primary class="example-full-width">
    <mat-label>{{input.label}}</mat-label>
    <input type="email"  matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      {{input.warning}}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      {{input.error.normal}} <strong>{{input.error.strong}}</strong>
    </mat-error>
  </mat-form-field>
