<div class="flex-container-2">
    <div>

        <app-input [input]='input'></app-input>
        <app-button ></app-button>


    </div>
    <div>
        <p class="note">
            Not your computer? Use Guest mode to sign in privately.
        </p>
        <div>
            <button mat-button color=primary class="blue-button">Learn more about using Guest mode</button>
        </div>


    </div>
    <div class="button-class">
        <button mat-button color=primary class="button" (click)="goToRegister()">Create account</button>
        <button mat-raised-button color="primary" class="button button-2">Next</button>

    </div>
</div>