.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    padding:10px 10px;
    background-color: white; /* Ensure the background is white */
    border: 1px solid transparent;
    overflow: hidden;
    box-shadow:border-box; /* Add shadow */
    border-radius: 5px;
    width: 238px;
    border-color: #e0e0e0;
    border-radius: 8px;
}
.title{
     font-size: 1rem;
     font-weight: 500;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
img{
    width: 20px;
    height: 20px;
}

.button{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 33px;
}
.card:not(:hover){
    svg{
        display: none;
    }

}
