<div class="flex-container-2">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword">
        </mat-form-field>
        <div class="warning">
            <span class="AfGCob"><svg aria-hidden="true" class="Qk3oof xTjuxe" fill="currentColor" focusable="false"
                width="16px" height="16px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                </path>
        </svg></span>
        Password dont match

        </div>
        <div>
            <mat-checkbox class="example-margin" color="primary" (change)="togglePasswordVisibility()">Show password</mat-checkbox>
        </div>

    </div>
    <div class="button-class">
        <button mat-button color=primary class="button">Try another way</button>
        <button mat-raised-button color="primary" class="button button-2" type="submit" (click)="handleSubmit()">Next</button>

    </div>
</div>