mat-toolbar {
    background-color: white;
    border-bottom: 0.5px solid rgb(195, 186, 186);
}

.header {
    display: flex;
    justify-content: space-between;
}


.example-spacer {
    flex: 1 1 auto;
}

.keeplogo {
    font-size: 20px;
    color: rgb(139, 138, 138);
    display: flex;
    align-items: center;
    width: 18%;
}

.searchBar {
    display: flex;
    padding: 5px;
    background-color: rgb(240, 233, 233);
    border-radius: 10px;
    margin-top: 4px;

    width: 45%;
}

svg {
    fill: #5f6368;
}

.tools {
    display: flex;
    justify-content: end;
    gap: 15px;
    align-items: center;
}

.profile {

    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile_pic {
    border: 1px solid grey;
    width: 90px;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    border-radius: 4px;
    margin-left: 4%;
}

.searchinput {
    background-color: rgb(240, 233, 233);
    border-color: rgb(240, 233, 233);
    border: none;
    outline: none;
    width: 300px;
    font-size: 20px;
}

.material-icons {
    color: rgb(139, 138, 138);
    padding: 2px 1px 2px 2px;
    font-size: 30px;
    margin-top: 4px;
}

img {
    // border: 2px solid green;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 45px;
    width: 60px;
    // border: 2px solid green;

}

.img1 {
    height: 40px;
    width: 40px;
}

.sidenav-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.element {
    /* border: 1px solid black; */
    padding: 20px 0 10px 20px;
    display: flex;
    /* margin-top: 10px; */

}

.header-logo {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hamburger {
    height: 24px;
    width: 24px;

}

.element img {
    /* border: 1px solid red; */
    width: 25px;
    height: 25px;
}

.element span {
    /* border: 1px solid red; */
    margin-left: 30px;
    margin-right: 150px;
    font-weight: 500;
}

.element:hover {
    background-color: #feefc3;
    border-radius: 0 25px 25px 0;
}

.main {
    display: flex;
    margin-top: 5px;
}

.main2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap:10px
}

.notesContent {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 10px;
    justify-content: center;
}

.clicked{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.clicked>input{
    border: none;
    padding: 10px;
}
.clicked>input:focus{
    border: none !important;
}
.clicked>.logos{
    display: flex;
    justify-content: space-between;
}
.addNote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 50%;
    border: solid;
    overflow: hidden;
    box-shadow: border-box;
    /* Add shadow */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-top: 5px;

}

.notClicked {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notClicked>div:nth-child(1) {
    flex: 3;

}

.circular-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e0e0e0;
    /* Optional: Add a border */
}

.circular-container img {
    width: 100%;
    height: auto;
}

.notClicked>div:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: space-between;

}

.addNoteInput {
    display: flex;
    width: 500px;
}